@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background:dimgray;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400, 18px Roboto, sans-serif;
}

.button {
    cursor: pointer;
    width: 100%;
    height: 60px;
    margin-top: 16px;
    background-color:slateblue;
    border: 0;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: filter 0.2s;
}

.button:hover{
    filter: brightness(90%);
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}